html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    height: 100vh;
    margin-bottom: 25px;
    background-color: #256fb6;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 18%;
    padding: 15px 10px 0 10px;
    background-color: #f5f4f5;
}

button {
    margin: 5px;
    width: auto;
}

#header {
    text-align: center;
    font-family: 'Azeret Mono', monospace;
    font-size: 2.5rem;
    background-color: #bac5d6;
}

#content-container {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-top: 15px;
}

#donate-container {
    display: flex;
    justify-content: center;
    margin: 2.5% 0;
}

#donate-button {
    margin-bottom: 5%;
    width: 30vh;
}

#donation-label {
    text-align: center;
    font-size: 1rem;
    margin-top: 15px;
}

#donation-value {
    text-align: center;
    font-size: 2rem;
    color: green;
    margin: 5px 0;
}

.donate-copy {
    text-align: center;
    font-size: 1.25rem;
    margin: 15px 0
}

.carousel {
    display: flex;
    height: 50vh;
    border: 5px solid #256fb6;
}

.slide {
    height: 50vh;
}

/* Resizes the carousel windows to fit images */
/* TO-DO: Media queries */
.carousel-item {
    display: flex;
}

/* Fix I found online for the jankiness of the sliding images */
.carousel-inner .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    display: block;
    position: absolute;
  }
  .carousel-inner .carousel-item:first-of-type {
    position: relative;
  }
  .carousel-inner .active {
    opacity: 1;
  }
/* End fix */

.willy-img {
    height: 50vh;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev, .carousel-control-next{
    color: white;
    font-size: 1rem;
}

.carousel-control-prev {
    padding-left: 30px;
}

.carousel-control-next {
    padding-right: 30px;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    position: relative;
    width:100%;
    left: 0;
    bottom: 0;
    padding: 0;
}

.caro-text {
    font-size: 1rem;
    color: black;
    background-color: #bac5d6;
    padding: 5px 0;
}

#buttons {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin: 15% 0
}

#buttons > button {
    width: 100%;
}

#no-thanks-bttn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thanks-copy {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 50px;
}

#thanks-bttn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#boiler-tweet {
    text-align: center;
    margin-top: 15px;
    font-family: 'Chirp', sans-serif;
    font-size: 1.5rem;

}

#social-container {
    display: flex;
    justify-content: center;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    height: 50px;
    background-color: #bac5d6;
    margin-bottom: 0px;
}

.socials {
    padding: 10px 12px 10px 12px;
}

#patreon {
    padding: 5px;
}

#patreon-back {
    background-color: #052d49;
}

@media (max-width: 750px) {
    #buttons {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
  }

@media (max-width: 540px) {
    #content-container, .carousel, .slide, .carousel-inner, 
    .carousel-item, .willy-img {
        height: 20vh;
    }
}

@media (max-width: 400px) {
    #header {
        font-size: 1.5rem;
    }
}