button {
    margin: 5px;
    width: 20%;
}

#header {
    text-align: center;
    font-size: 45px;
}

#donate-container {
    display: flex;
    justify-content: center;
}

#donation-label {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#donation-value {
    text-align: center;
    font-size: 40px;
    color: green;
    margin: 10px 0 10px 0;
}

#donate-copy {
    text-align: center;
    font-size: 20px;
}

#carousel-container {
    display: flex;
    justify-content: center;
}

/* Resizes the carousel windows to fit images */
.carousel-item {
    height: 533px !important;
    width: 800px !important;
}

/* Fix I found online for the jankiness of the sliding images */
.carousel-inner .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
  }
  .carousel-inner .carousel-item:first-of-type {
    position: relative;
  }
  .carousel-inner .active {
    opacity: 1;
  }
/* End fix */

#buttons {
    display: flex;
    margin: 0 25% 0 25%;
}

#social-container {
    display: flex;
    justify-content: center;
    position:absolute;
    left:0;
    bottom:10px;
    right:0;
}

.socials {
    padding: 10px 12px 10px 12px;
}

#patreon {
    padding: 5px;
}

#patreon-back {
    background-color: #052d49;
}